body {
	margin: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

button {
	background-color: #3882F6;
	color: #fff;
	border: 3px solid #3882F6;
	border-radius: 25px;
	padding: 8px 16px;
}

a {
	text-decoration: none;
	font-size: 24px;
	color: #F9FAF8;
}

h3 {
	margin: 24px;
	font-size: 24px;
	font-weight: 900;
	color: #1F2937;
	padding: 0;
	text-align: center;
}

/*Styling background color for each webpage section*/
.header,
.top {
	background-color: #1F2937;
}
.bottom {
	background-color: #f0e6db;
}


/*I've included a div (-con) for each section to contain its elements and added a margin. 
For the elements to center in the middle and background color will run continuous.*/
.header-con {
	display: flex;
	justify-content: space-between;
	margin: 24px 15vw;
}

.links{
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	gap: 16px;
}

.top-con {
	display: flex;
	justify-content: center;
	gap: 48px;
	margin: 24px 15vw;
}

.main-text {
	margin: 0;
	padding: 0;
	color: #F9FAF9;
	font-size: 48px;
	font-weight: 900;
}

.subtext {
	font-size: 18px;
	color: #D3D3D3;
	text-align: justify;
}

.top-image {
	height: 340px;
	width: 540px;
}

.middle-con {
	margin: 0px 15vw 24px 15vw;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
}

.breed {
	border-radius: 25px;
	padding: 12px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	gap: 8px;
}

.breed-con {
	display: flex;
	gap: 16px;
}

.breed img {
	max-width: 100%;
	height: auto;
	border-radius: 25px;
}

.bottom-con {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 56px 15vw;
}

.quote-con {
	margin: 0px;
	padding: 0px;
	font-size: 24px;
	color: #1F2936;
}

.quote {
	font-style: italic;
	text-align: justify;
}

.quote-con p {
	margin: 0px;
	padding: 0px;
	font-weight: 700;
	text-align: right;
}

.card-container {
	flex: 1;
}

.footer{
	background-color: #1F2937;
	color: #fff;
}