body {
	margin: 0px;
	height: 100vh;
	display: flex;
	flex-direction: column;
	font-family: "Roboto", sans-serif;
}

button {
	background-color: #3882F6;
	color: #fff;
	border: 3px solid #3882F6;
	border-radius: 25px;
	padding: 8px 16px;
}

a {
	text-decoration: none;
	font-size: 24px;
	color: #F9FAF8;
}

/*Styling background color for each webpage section*/
.header,
.top {
	background-color: #1F2937;
}
.bottom {
	background-color: #E5E7EB;
}


.header-con {
	display: flex;
	justify-content: space-between;
	margin: 12px 48px;
}

.links{
	margin: 0;
	padding: 0;
	display: flex;
	gap: 16px;
}

.top-con {
	display: flex;
	justify-content: center;
	gap: 48px;
	margin: 48px;
}

.main-text {
	margin: 0;
	padding: 0;
	color: #F9FAF9;
	font-size: 48px;
	font-weight: 900;
}

.subtext {
	font-size: 18px;
	color: #D3D3D3;
}

.top-image{
	height: 340px;
	width: 540px;
}

.middle {
	display: flex;
}

.card-container {
	flex: 1;
}

.footer{
	background-color: #1F2937;
	color: #fff;
}